.home{
    height: 50vh;
    min-height: inherit;
    padding-bottom: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}
.home .container {
    padding: 10rem 0;
    width: 100%;
    padding-bottom: 0rem !important;
}
.home-contain{
    height: 100%;
}
.home-text h1 {
    margin-bottom: 0;
}