/*---------------
Font
-----------------*/
@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap);

/*---------------
Global
-----------------*/
:root {
  --main-color: #061e5c;
  --purple: #461af3;
  --color-1: #e91e63;
  --color-2: #f5ae10;
  --color-3: #09d69c;
  --bg-dark: #2b2c2f;
  --main-to-dark-color: var(--main-color);
  --dark-to-main-color: var(--bg-dark);
  --shadow-black-100: 0 5px 15px rgba(0, 0, 0, 0.1);
  --shadow-black-300: 0 5px 15px rgba(0, 0, 0, 0.3);
  --black-900: #000000;
  --black-400: #555555;
  --black-100: #f7f7f7;
  --black-000: #ffffff;
  --black-alpha-100: rgba(0, 0, 0, 0.05);
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  background-color: #ffffff;
  line-height: 1.5;
  user-select: none;
  overflow-x: hidden;
}
* {
  margin: 0;
  padding: 0;
  outline: none;
  line-height: normal;
}
*,
*::before,
*::after {
  box-sizing: border-box; 
}
*::-webkit-scrollbar,
*::-webkit-scrollbar-thumb {
  width: 7px;
  background: transparent;
}

*::-webkit-scrollbar-thumb {        
  background: var(--color-2);
  border-radius: 20px;
}

img {
  max-width: 100%;
  vertical-align: middle;
}
ul {
  list-style: none;
}
a,
a:hover {
  text-decoration: none;
  color: var(--purple);
}

.d-flex{
    display: flex;
    flex-wrap: wrap;
}
.no-wrap{
    flex-wrap: nowrap;
}
.jc-c{
    justify-content: center;
}
.jc-b{
    justify-content: space-between;
}
.jc-a{
    justify-content: space-around;
}
.jc-e{
    justify-content: space-evenly;
}
.ai-c{
   align-items: center;
}
.ai-b{
    align-items: flex-end;
 }
.ai-s{
    align-items: flex-start;
 }
.w-100{
    width: 100%;
}

.section-padding{
    padding: 80px 0;
}
.section-blue{
    background: var(--main-color);
    color: var(--black-100);
}
.text-center{
    text-align: center;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
}



/* nav bar */
.navbar{
    background-color: transparent;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    z-index: 1000;
}
.navbar.shrin{
    box-shadow: var(--shadow-black-100);
    background: var(--main-color);
}
.navbar .container a{
    color: white;
}
/* nav brand*/
.navbar-brand{
    font-size: 2.4rem;
    font-weight: 700;
    line-height: normal;
}
.navbar-brand span{
    color: var(--color-2);
}
/* togle btn */
.navbar-toggle{
    height: 25px;
    width: 30px;
    cursor: pointer;
    align-content: space-between;
    display: none;
}
.navbar-toggle span{
    height: 4px;
    width: 100%;
    background-color: white;
    display: block;
    transition: all ease-in-out .3s;
    transform-origin: inherit;
}
.navbar-toggle.close span:nth-child(2){
    opacity: 0;
}
.navbar-toggle span:nth-child(1){
    transform-origin: top left;
}
.navbar-toggle span:nth-child(3){
    transform-origin: bottom left;
}
.navbar-toggle.close span:nth-child(1){
    transform: rotateZ(45deg);
}
.navbar-toggle.close span:nth-child(3){
    transform: rotateZ(-45deg);
}

/* nav menu */
.nav-item{
    margin: 0 1rem;
}
.nav-item a{
    font-weight: 500;
    font-size: 1.05rem;
    transition: all ease-in-out .3s;
}
.nav-item:hover a{
    color: var(--color-2);
}

/* hero section */
.home{
    background-color: var(--main-color);
    min-height: 100vh;
    width: 100%;
    z-index: 1;
    position: relative;
    color: var(--black-100);
}
.home::before{
    position: absolute;
    content: "";
    z-index: -1;
    background: url("./images/bg-pattern.png") center center;
    background-size: cover;
    width: 100%;
    height: 100%;
    filter: blur(2px);
}
.home .container{
    z-index: 6;
    padding: 10rem 0;
}

.home-text{
    width: 55%;
}
.home-text h1{
    font-size: 3.5rem;
    text-transform: capitalize;
    line-height: 4.5rem;
    margin-bottom: 1.6rem;
    color: white;
}
.home-text p{
    font-size: 1.1rem;
    text-align: justify;
    margin-bottom: 25px;
    line-height: 2.1rem;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    padding: 12px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 7px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    cursor: pointer;
    box-shadow: var(--shadow-black-300);
    transition: all ease-in-out .3s;
}
.btn-main{
    color: white;
    background-color: var(--color-2);
}
.btn:hover{
    background: var(--main-color);
    color: white;
}
.btn-icon i{
    margin-right: 10px;
}
.home-img{
    width: 40%;
}


/* hero */
.hero-img{
    width: 45%;
}
.hero-text{
    width: 50%;
}
.hero-text h1{
    font-size: 2.7rem;
    text-transform: capitalize;
    line-height: 3.4rem;
    margin-bottom: 1.4rem;
}
.hero-text p{
    text-align: justify;
    line-height: 2rem;
}
.hero-card-contain{
    padding: 120px 0;
}
.col-card:nth-of-type(2){
    margin: 0 10px;
}
.card{
    box-shadow: var(--shadow-black-100);
    border-top: solid 4px var(--color-2);
    border-radius: 7px;
    padding: 30px 15px;
    transition: all ease-in-out .3s;
    text-align: center;
    position: relative;
    top: 0;
}
.card i{
    font-size: 2.5rem;
    position: relative;
    z-index: 1;
    margin: 15px 0;
    color: var(--color-2);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all ease-in-out .3s;
}
.card i::after{
    content: "";
    z-index: -1;
    position: absolute;
    background: transparent;
    transition: all ease-in-out .3s;
    height: 70px;
    width: 70px;
    border-radius: 50%;
}
.card:hover{
    border-color: var(--main-color);
    top: -10px;
}
.card:hover i::after{
    background: var(--main-color);
}
.card:hover h5{
    color: var(--main-color);
}
.card:hover i{
    font-size: 1.5rem;
    color: white;
    margin: 35px 0;
}
.card h5{
    font-size: 1.3rem;
    margin-bottom: 7px;
    color: var(--color-2);
    transition: all ease-in-out .3s;
}
.card p{
    font-size: .9rem;
    margin-bottom: 0px;
}



/* formations */
.title h1{
    font-size: 3.5rem;
    position: relative;
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 15px;
}
.title h1::after{
    content: "";
    position: absolute;
    height: 5px;
    width: 100%;
    background: var(--color-2);
    border-radius: 10px;
    left: 0;

}
.title p{
    margin-bottom: 50px;
    font-size: 1.1rem;
}

.cycle-card{
    box-shadow: var(--shadow-black-300);
    position: relative;
    overflow: hidden;
    border-radius: 7px;
}
.cycle-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(2px);
    transition: all ease-in-out .3s;
}
.cycle__content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #061e5ca9;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cycle__content div{
    text-align: center;
}
.cycle__content i{
    font-size: 2.5rem;
}
.cycle__content h3{
    font-size: 2rem;
}
.cycle__content small{
    font-size: .9rem;
}
.cycle__content a{
    display: block;
    text-align: center;
    color: white;
    background: var(--main-color);
    padding: 10px 20px;
    border-radius: 6px;
    position: absolute;
    bottom: 20px;
    opacity: 0;
    transition: all ease-in-out .3s;
    left: 50%;
    transform: translateX(-50%);
}
.cycle-card:nth-of-type(2){
    margin: 0 20px;
}

.cycle-card:hover a{
    bottom: 30px;
    opacity: 1;
}
.cycle-card:hover img{
    transform: scale(1.4);
    filter: blur(1px);
}


/* footer */
footer .navbar-brand{
    text-transform: uppercase;
}
footer{
    padding: 20px 0;
}
@media (max-width: 770px) {
    .navbar{
        background-color: var(--main-color);
    }
    .container{
        max-width: 700px;
    }
    .navbar-toggle{
        display: flex;
    }
    .navbar-nav{
        display: block;
        position: absolute;
        box-shadow: var(--shadow-black-300);
        background: white;
        border-radius: 5px;
        right: -255px;
        top: 100px;
        width: 250px;
        opacity: 0;
        transition: all ease-in-out .3s;
        overflow: hidden;
    }
    .navbar-nav.show{
        right: 5px;
        opacity: 1;
    }
    
    .navbar .container .nav-item a{
        color: black;
        display: block;
        width: 100%;
        padding: .8rem .8rem;
        transition: all ease-in-out .3s;
    }
    .nav-item{
        transition: all ease-in-out .3s;
        margin: 0;
    }
    .nav-item:hover,
    .nav-item.active{
        background-color: var(--main-color);
    }
    .nav-item:hover a,
    .nav-item.active a{
        color: white !important;
    }
    .home-text{
        width: 100%;
        text-align: center;
    }
    .home-text h1{
        font-size: 3rem;
    }
    .home-text p{
        font-size: 1rem;
        text-align: center;
    }
    .home .btn{
        margin: 0 auto;
    }
    .home-img{
        display: none;

    }

    .home .container .home-contain{
        flex-wrap: wrap;
    }

    .hero-card-contain{
        flex-wrap: wrap;
        padding: 60px 0;
    }
    .col-card{
        margin-left: auto !important;
        margin-right: auto !important;
    }
    .col-card:not(:first-of-type) {
       margin-top: 30px;
    }

    .hero-text,
    .hero-img{
        width: 100%;
    }
    .hero-text{
        margin-top: 50px;
    }

    .hero-contain{
        flex-wrap: wrap;
    }


    .cycle-card-list{
        flex-wrap: wrap;
    }
    .cycle-card:nth-of-type(2){
        margin: 0 0px;
    }
    .cycle-card:not(:nth-child(3)){
        margin-bottom: 20px;
    }

}

@media (max-width: 430px) {
    .home-text h1{
        font-size: 2.5rem;
        line-height: 3.5rem;
    }
    .home-text p,
    .btn{
        font-size: .9rem;
    }
    .hero-text h1{
        font-size: 1.6rem;
        line-height: 2.2rem;
    }
    footer .text,
    footer .logo{
        margin: 0 auto;
    }
}

@media (max-width: 330px) {
    .hero-text p{
        font-size: .9rem;
    }
}