:root{
    --main-clr: #02C173;
    --dark: #060707;
    --blanc: #ffffff;
    --bg-gradient: #0C1A11;
    --elipse: #15D989;
    --text-clr: #C1CCC7;
    --koala-back: linear-gradient(93.3deg, #06CB7A 0%, #069359 100%);

}

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500;700&display=swap');

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 135%;
}
ul{
    list-style: none;
    a{
        text-decoration: none;
    }
}
body{
    font-weight: 400;
    font-size: 1rem;
    color: var(--text-clr);
    font-family: 'IBM Plex Mono', monospace;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--bg-gradient);

    .backdrop{
        position: absolute;
        width: 362px;
        height: 362px;
        left: -127px;
        top: -140px;

        border-radius: 100%;
        z-index: -15;
        background-color: var(--main-clr);
        // background: radial-gradient(circle, rgba(21, 217, 137, 0.409401) 0%, transparent 55%, rgb(12, 26, 17) 0%);

    }
    &::before{
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        z-index: -1;

        background: rgba(12, 26, 17, 0.7);
        backdrop-filter: blur(75px);
    }
}


// hearder style

header{
    position: fixed;
    top: 0;
    width: 100%;
    &, 
    .menu{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    height: 80px;
    padding: 0 80px;

    .logo{
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        color: var(--blanc);

        span{
            color: var(--main-clr);
        }
    }

    .menu{
        a{
            display: block;
            margin: 0 20px;
            color: var(--text-clr);
            font-size: 14px;
            text-transform: uppercase;
        }
    }
}

.main{
    padding: 0 80px;
    padding-top: 60px;
    &, 
    .hero-img{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .hero-text{
        margin-right: 109px;
        h1{
            font-weight: 700;
            font-size: 64px;
            line-height: 120%;

            letter-spacing: 0.02em;
            text-transform: uppercase;

            color: #FFFFFF;

            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

            span{
                color: var(--main-clr);
            }
        }

        p{
            margin: 20px 0;
            font-size: .8rem;
            line-height: 150%;
        }

        .btn{
            width: 138px;
            height: 138px;
            font-weight: 500;
            margin-top: 3rem;
            font-size: 1rem;

            position: relative;

            span{
                position: absolute;
                left: 50%;

                transform-origin: 0 69px;

                &.clr{
                    color: var(--main-clr);
                }
            }
            

            img{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 33.33px;
                height: 20px;
            }
        }
    }

    .hero-img{
        
        .koala-overlay{
            width: 580px;
            height: 580px;

            img{
                max-width: 100%;
                object-fit: contain;
            }
        }


        .social-icons{
            display: flex;
            flex-direction: column;
            margin-left: 40px;
            img{
                margin: 5px 0;
                width: 40px;
                height: 40px;
            }
        }
    }
}
