@import url(https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap);
:root{
    --main: #dc2626;
    --p-clr: #4b5563;
    --h1-clr: ##27272a;
    --duration: .53s;
    --hduration: .65s;
    --delay: 0.4s;
}

*, 
*:after, 
*:before {
    box-sizing: border-box;
    color: #27272a;
    font-family: Inter,sans-serif;
    margin: 0;
    padding: 0;
}
body{

}

/* header */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 6rem;
    position: fixed;
    width: 100%;
    animation: openheader var(--hduration)  both;
}
.logo{
    width: 150px;
}
.logo img{
    max-width: 100%;
    object-fit: contain;
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav ul li{
    padding: .5rem .4rem;
}
nav ul li a{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all ease-in-out .3s;
}
nav ul li a:hover span{
    color: var(--main) !important;
}
nav ul li a:hover svg path{
    stroke: var(--main) !important;
    fill: none;
}
nav ul li a span{
    margin: 0 .4rem;
    font-weight: 600 !important;
    text-transform: capitalize;
    font-size: .95rem;
}

section{
    min-height: 100vh;
    padding: 0 6rem;
    padding-top: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-text{
    width: 55%;
}
.home-text h1{
    font-size: 2.6rem;
    font-weight: 700;
    line-height: 50px;
    color: var(--h1-clr);

}
.home-text p{
    color: var(--p-clr);
    font-size: 19px;
    font-weight: 400;
    line-height: 24px;
    margin: 1.2rem 0;
}
.btn-box{
    display: flex;
}
.btn-box .btn{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    padding: .6rem 1.5rem;
    text-transform: capitalize;
    border: solid 2px;
    font-weight: 500;
    transition: all ease-in-out .3s;
    opacity: 1;
}
.btn-box .btn svg{
    margin-right: .3rem;
}
.btn-box .btn:first-of-type{
    margin-right: .5rem;
}

.btn.btn-outline{
    color: var(--main);
    border-color: var(--main);
    background-color: transparent;
}
.btn:hover{
    opacity: .9;
} 
.home-image{
   width: 38%;
   position: relative; 
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 15px;
}
.home_image_wrapper:first-of-type{
    grid-column: 1/1;
    grid-row: 1;
}
.home_image_wrapper:nth-of-type(2){
    grid-column: 2/2;
    grid-row: 1;
}
.home_image_wrapper:nth-of-type(3){
    grid-column: 1/1;
    grid-row: 2/4;
}
.home_image_wrapper:nth-of-type(4){
    grid-column: 2/2;
    grid-row: 2;

    display: flex;
    align-items: center;
}
.home_image_wrapper:nth-of-type(5){
    grid-column: 2/2;
    grid-row: 3/3;
}

.home-img_item img{
    max-width: 100%;
    object-fit: contain;
}
.home_image_wrapper:first-of-type .home-img_item{
    width: 120px;
    aspect-ratio: 1;
    margin-left: auto;
    position: relative;
    left: -15px;
    transform-origin: top left;
    
    animation-delay: calc( var(--hduration) + calc(4 * calc(var(--duration) + var(--delay))));
}
.home_image_wrapper:nth-of-type(2) .home-img_item{
    width: 120px;
    aspect-ratio: 1;
    position: relative;
    top: -20px;
    left: -12px;
    transform-origin: top left;
    
    animation-delay: calc( var(--hduration) + calc(3 * calc(var(--duration) + var(--delay))));

}
.home_image_wrapper:nth-of-type(3) .home-img_item{
    width: 315px;
    aspect-ratio: 1;
    position: relative;
    margin-left: auto;
    transform-origin: bottom left;
    animation-delay: var(--hduration);

}
.home_image_wrapper:nth-of-type(3) .home-img_item img{
    width: 315px;
    aspect-ratio: 1;
    position: fixed;
}
.home_image_wrapper:nth-of-type(4) .home-img_item{
    width: 85px;
    aspect-ratio: 1;
    margin-left: 6px;
    position: relative;
    top: -40px;
    transform-origin: top left;
    animation-delay: calc( var(--hduration) + calc(2 * calc(var(--duration) + var(--delay))));
}
.home_image_wrapper:nth-of-type(5) .home-img_item{
    width: 110px;
    aspect-ratio: 1;
    position: relative;
    top: -60px;
    transform-origin: bottom left;
    animation-delay: calc( var(--hduration) + calc(1 * calc(var(--duration) + var(--delay))));

}

.home-img_item{
    animation: openfromBottom var(--duration) ease-in-out both;
    border-radius: 4px;
    overflow: hidden;
    clear: both;
}
.home-text h1{
    position: relative;
    animation: showH1 var(--duration) ease-out both;
    clear: both;
    top: -200px;
    opacity: 0;
    
    animation-delay: calc( var(--hduration) + calc(5 * calc(var(--duration) + var(--delay))));
}
.home-text p{
    position: relative;
    animation: showp .7s ease-in-out both;
    clear: both;
    bottom: -50px;
    opacity: 0;
    animation-delay: calc( var(--duration) + calc( var(--hduration) + calc(5 * calc(var(--duration) + var(--delay)))));
}
.home-text .btn-box{
    position: relative;
    animation: showp .8s ease-in-out both;
    clear: both;
    bottom: -50px;
    opacity: 0;
    animation-delay: calc( calc(2 * var(--duration)) + calc( var(--hduration) + calc(5 * calc(var(--duration) + var(--delay)))));
}

@keyframes openfromBottom {
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}
@keyframes openheader {
    0%{
        top: -60px;
    }
    100%{
        top: 0px;
    }
}

@keyframes showH1 {
    100%{
        top: 0px;
        opacity: 1;
    }
}
@keyframes showp {
    100%{
        bottom: 0px;
        opacity: 1;
    }
}