*, 
*::before, 
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body::-webkit-scrollbar{
    display: none;
}
body {
    scrollbar-width: none;
    position: relative;
    overflow: hidden;
}
#container{
    transition: all ease .3s;
    transform: translateY(0vh);
}
section{
    height: 100vh;
    width: 100%;
}
.section_1{
    background-color: purple;
}
.section_2{
    background-color: red;
}
.section_3{
    background-color: yellow;
}
.section_4{
    background-color: green;
}
.section_5{
    background-color: crimson;
}
.dots{
    position: fixed;
    right: 10px;
    top: 50%;
    z-index: 100000000;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.dots span{
    display: block;
    width: 7px;
    height: 90px;
    border-radius: 5px 0 0 5px;
    background-color: rgba(240, 230, 230, 0.596);
    transition: all ease .3s;
}
.dots span.active{
    background-color: white;
}