/*---------------
Font
-----------------*/
/* @import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap); */


/*---------------
Global
-----------------*/
:root {
  --main-color: hsl(80deg 100% 47%);
  --bgPage: hsl(217deg 37% 12%);
  --header-top: #111927;
  --text-color: hsl(221deg 20% 63%);
  --color-1: hsl(39deg 100% 55%);
  --color-2: hsl(140deg 88% 35%);
  --bg-dark: #2b2c2f;
  --main-to-dark-color: var(--main-color);
  --dark-to-main-color: var(--bg-dark);
  --shadow-black-100: 0 5px 15px rgba(0, 0, 0, 0.1);
  --shadow-black-300: 0 5px 15px rgba(0, 0, 0, 0.3);
  --black-900: #000000;
  --black-400: #555555;
  --black-100: #f7f7f7;
  --white: #ffffff;
  --black-alpha-100: rgba(0, 0, 0, 0.05);
}

@font-face {
  font-family: Permanent Marker;
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(/webfont/permanent-marker-latin-400-normal.woff2) format("woff2"), url(/webfont/permanent-marker-all-400-normal.woff) format("woff");
  unicode-range: U+00??, U+0131, U+0152-0153, U+02bb-02bc, U+02c6, U+02da, U+02dc, U+2000-206f, U+2074, U+20ac, U+2122, U+2191, U+2193, U+2212, U+2215, U+feff, U+fffd
}

body {
  font-family: neue-haas-unica, sans-serif;
  font-size: .9rem;
  font-weight: 400;
  overflow-x: hidden;
  background-color: var(--bgPage);
  line-height: 1.5;
  user-select: none;
  min-height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

ul {
  list-style: none;
}

a,
a:hover {
  text-decoration: none;
  color: var(--text-color);
}

@keyframes ZoomInOut {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
    opacity: 0;
  }
}

/* ----------------------------scrool icon ------------------------------ */
.scrool-to {
  height: 50px;
  width: 50px;
  bottom: 20px;
  right: 20px;
  position: fixed;
  display: none;
  background-color: var(--main-color);
  color: white;
  border-radius: 7px;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 600;
  z-index: 2000;
  box-shadow: var(--shadow-black-100);
}

/* ------------------------------- preloaded ---------------------------- */
.preloaded {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: var(--main-to-dark-color);
  z-index: 2100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.preloaded span {
  display: block;
  height: 60px;
  width: 60px;
  background-color: var(--dark-to-main-color);
  border-radius: 50%;
  animation: ZoomInOut 1s ease infinite;
}

/* --------------------------------------
    Helpfull class
------------------------------------------ */
.d-flex {
  display: flex;
}

.jc-c {
  justify-content: center;
}

.jc-b {
  justify-content: space-between;
}

.jc-a {
  justify-content: space-around;
}

.jc-s {
  justify-content: flex-start;
}

.ai-c {
  align-items: center;
}
.mh-100vh{
  min-height: 100vh;
}

.mobile-show {
  display: none !important;
}

@media (max-width: 986px) {
  .mobile-hide {
    display: none !important;
  }

  .mobile-show {
    display: flex !important;
  }

}

/* --------------------------------------
    Header
------------------------------------------ */
.header-top {
  padding: .8rem 7.5rem;
  background-color: var(--header-top);
}

.header_site_type .header_site_type-item:is(:nth-of-type(2)) {
  padding: 0 3rem;
}

.header_site_type .header_site_type-item a {
  transition: all ease-in-out .3s;
  text-transform: uppercase;
  color: var(--text-color);
  font-weight: 600;
  font-size: .6875rem;
  letter-spacing: .2rem;

}

.header_login:hover,
.header_site_type .header_site_type-item a:hover {
  color: var(--white);
}

.header_site_type .header_site_type-item a.active {
  color: var(--main-color);
}

.header_login {
  color: var(--main-color);
  transition: all ease-in-out .3s;
  text-align: right !important;
  border-color: transparent !important;

}

.header_login {
  font-weight: 600;
}

.header_login i {
  margin-left: .3rem;
}

.header-bottom {
  padding: 1.4rem 7.5rem;
}

.header-bottom .header_logo img {
  display: block;
  width: 176px;
  margin-right: 5rem;
}

.header_right {
  width: calc(100% - 273px);
}

.header-bottom .header_nav_ul-item {
  padding: 0 1.6rem;
  font-weight: 600;
  font-size: .9375rem;
}

.header-bottom .header_nav_ul-item:nth-of-type(1) {
  padding-left: 0;
}

.header-bottom .header_nav .header_nav_ul-item:nth-of-type(4) {
  padding-right: 0;
}

.header-bottom .header_nav_ul-item a {
  transition: all ease-in-out .3s;
}

.header-bottom .header_nav_ul-item a:hover {
  color: var(--white);
}

.header_btn, 
.btn {
  display: block;
  text-align: center;
  border: solid 1px #1a2332;
  border-radius: 3px;
  padding: 1rem;
  text-transform: uppercase;
  font-size: .625rem;
  font-weight: 600;
  letter-spacing: .075rem;
  color: var(--main-color);
  min-width: 140px;
  transition: all ease-in-out .3s;
}

.header_btn:hover,
.btn:hover,
.is-hover  {
  background-color: var(--main-color);
  color: #111927;
}
.is-hover:hover  {
  background-color: #bbff34;
}

.header_login:hover {
  background: transparent;
  color: var(--white);
}

.hambur_menu {
  width: 22px;
  height: 17px;
  flex-direction: column;
  justify-content: space-between;
  display: none;
  z-index: 999;
}

.hambur_menu span {
  display: block;
  width: 100%;
  height: 2px;
  border-radius: 10px;
  background-color: var(--white);
  transition: all ease-in-out .3s;
}

.hambur_menu span:nth-of-type(3),
.hambur_menu span:nth-of-type(1) {
  transform-origin: left;
}

.hambur_menu span:nth-of-type(3) {}

.hambur_menu.is-close span:nth-of-type(1) {
  transform: rotateZ(45deg);
}

.hambur_menu.is-close span:nth-of-type(2) {
  opacity: 0;
}

.hambur_menu.is-close span:nth-of-type(3) {
  transform: rotateZ(-45deg);
}

@media(max-width: 1100px) {
  .header-top {
    padding: .8rem 6rem;
  }

  .header-bottom {
    padding: 1.3rem 6rem;
  }
}

@media screen and (max-width: 1250px) {
  .header-top {
    padding: .8rem 7.5rem;
  }
}

@media (max-width: 1080px) {
  .header-top {
    padding: .8rem 3rem;
  }

  .header-bottom {
    padding: 1.3rem 3rem;
  }
}

@media(max-width: 986px) {
  .header-top {
    position: absolute;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: all ease-in .2s;
    padding: 1.35rem 3rem;
  }

  .hambur_menu,
  .hambur_menu_cross {
    display: flex;
    cursor: pointer;
  }

  .header-bottom {
    width: 100%;
    padding: 1rem 3rem;
    background-color: var(--header-top);
  }

  .header_right {
    position: absolute;
    top: 64px;
    bottom: 0;
    background-color: white;
    width: 100%;
    left: 0;
    height: calc(100vh - 64px);
    padding-top: 1rem;
    transition: all ease-in-out .1s;

    opacity: 0;
    visibility: hidden;

    flex-direction: column;
    align-items: flex-start;
  }

  .header_right ul {
    display: block;
    padding: 0 3rem;
    width: 100%;
  }

  .header-bottom .header_nav_ul-item {
    padding: 1rem 0rem !important;
    color: #a4b1cd;
  }

  .btn-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    background-color: #eff5ff;
    padding: 1rem 0;
  }

  .btn-box .join {
    background-color: var(--main-color);
    border-color: var(--main-color);
    color: var(--header-top);
    margin-right: 1rem;
  }

  .btn-box .header_btn.mobile-show {
    color: var(--text-color);
    border-color: var(--text-color);
  }

  .header_btn:hover {
    background-color: var(--main-color) !important;
    color: #111927 !important;
    border-color: var(--main-color) !important;
  }

  header.show .header_right,
  header.show .header-top {
    opacity: 1;
    visibility: visible;
  }
}
@media  (max-width: 380px) {
  .header-top {
    padding: 1.35rem 1rem;
  }
  .header_site_type .header_site_type-item:is(:nth-of-type(2)) {
    padding: 0 1rem;
  }
  
  .header_site_type .header_site_type-item a {
    font-size: .5875rem;
  
  }
  .header_right ul {
    padding: 0 1rem;
}
}


/* --------------------------------------
    HERO
------------------------------------------ */
.hero{
  text-align: center;
  padding: 0 5rem;
  flex-direction: column;
  background: linear-gradient(to top, #1A2332 15%, #141D2B 15%);
}
.hero_text h1{
  font-size: 4.5rem;
  line-height: 80px;
  font-weight: 700;
  margin: 5rem auto 4rem auto;
  text-transform: capitalize;
  color: var(--white);
}
.hero_text p{
  font-size: 1.125rem !important;
  line-height: 28px;
  margin: 0 auto;
  color: var(--text-color);
  max-width: 50%;
  padding: 0 .9rem;
  font-weight: 600;
}
.hero .btn{
  max-width: 160px;
  margin: 2.5rem auto 5rem auto;
}
.video-box{
  position: relative;
  bottom: 100px;
  padding-top: 5rem;
}
.video-box video{
  box-shadow: 0 0 10px 0 rgb(0 0 0 / 30%);
    max-width: 1000px;
    width: 90%;
    border-radius: 12px;
    display: block;
    margin: auto;
}
.video-box video.hero_intro_side{
  position: absolute;
    top: calc(12% + 5rem);
    right: 0px;
    box-shadow: rgb(0 0 0 / 30%) 0px 0px 10px 0px;
    width: 60%;
    max-width: 520px;
    opacity: 0;
}
.video-box video.hero_intro_side.show{
  opacity: 1;
}
@media  (max-width: 986px) {
  .hero_text h1{
    font-size: 2.625rem;
    line-height: 48px;
  }
  .hero_text p{
    font-size: 1.12rem !important;
    padding: 0;
  }
  .video-box video{
    width: 75%;
  }
  .video-box video.hero_intro_side{
    width: 50%;
  }
}
@media  (max-width: 765px) {

  .hero{
    padding: 0 3rem;
  }
  .hero_text h1{
    margin: 6rem auto 2rem auto;
  }
  .hero_text p{
    max-width: 100%;
  }
  .video-box video{
    width: 100%;
  }
  .video-box video.hero_intro_side{
    width: 80%;
  }
}
@media  (max-width: 500px) {
  .hero_text{
    padding-left: .9rem;
    padding-right: .9rem;
  }
  .video-box video{
    width: calc(100vw - 80px);
  }
  .video-box video.hero_intro_side{
    top: calc(10% + 5rem) !important;
    width: 70%!important;
    max-width: 520px;
  }
}
@media  (max-width: 500px) {
  .hero{
    padding: 0 1.5rem;
  }
  .hero_text{
    padding-left: 0;
    padding-right: 0;
  }
  .hero_text h1{
    margin: 5rem auto 2rem auto;
  }
}
@media  (max-width: 380px) {
  .hero_text p{
    font-size: 1rem !important;
    line-height: 26px;
  }
}
/* --------------------------------------
    CLIENT
------------------------------------------ */
.client{
  background: #1a2332!important;
  padding: 0 5rem;
}

.companies{
  max-width: 1000px;
  width: 90%;
  margin: 0 auto;
}
.companies .companies_logo{
  padding-top: 1.7rem;
  padding-left: 1.8rem;
}
.companies .companies_logo img{
  width: 200px;
  margin: 1.5rem 0;
}
.companies p{
  font-size: 1.125rem !important;
    line-height: 28px;
    letter-spacing: .2px;
    text-align: center;
    color: var(--text-color);
    margin-top: 1rem;
}
.experiences_text{
  text-align: center;
}