/*---------------
Font
-----------------*/
@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap);

/*---------------
Global
-----------------*/
:root {
  --main-color: #061e5c;
  --purple: #461af3;
  --color-1: #e91e63;
  --color-2: #f5ae10;
  --color-3: #09d69c;
  --bg-dark: #2b2c2f;
  --main-to-dark-color: var(--main-color);
  --dark-to-main-color: var(--bg-dark);
  --shadow-black-100: 0 5px 15px rgba(0, 0, 0, 0.1);
  --shadow-black-300: 0 5px 15px rgba(0, 0, 0, 0.3);
  --black-900: #000000;
  --black-400: #555555;
  --black-100: #f7f7f7;
  --black-000: #ffffff;
  --black-alpha-100: rgba(0, 0, 0, 0.05);
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  overflow-x: hidden;
  background-color: #ffffff;
  line-height: 1.5;
  user-select: none;
}
* {
  margin: 0;
  padding: 0;
  outline: none;
}
img {
  max-width: 100%;
  vertical-align: middle;
}
ul {
  list-style: none;
}
a,
a:hover {
  text-decoration: none;
  color: var(--purple);
}
.bg-transparent {
  background: transparent;
}
.bg-white {
  background: white;
}
.bg-purple {
  background: var(--purple);
}
.btn-purple {
  background: var(--purple) !important;
  color: white !important;
}
.bg-grey {
  background: #f0f3fa;
}
.btn-ban,
.navbar button {
  background-color: white;
  font-size: 0.75rem;
  color: var(--main-color);
  font-weight: 600;
  text-transform: capitalize;
  padding: 9px 20px;
  transition: all ease-in-out 0.4s;
}
.btn-ban {
  background-color: var(--purple);
  color: #ffffff;
}
.btn-ban:hover {
  background-color: #ffffff;
  color: var(--purple);
}
.section-padding {
  padding: 130px 0 !important;
}
.bg-main-blue {
  background-color: var(--main-color);
}
@keyframes ZoomInOut {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
/* ----------------------------scrool icon ------------------------------ */
.scrool-to {
  height: 50px;
  width: 50px;
  bottom: 20px;
  right: 20px;
  position: fixed;
  display: none;
  background-color: var(--main-color);
  color: white;
  border-radius: 7px;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 600;
  z-index: 2000;
  box-shadow: var(--shadow-black-100);
}
/* ------------------------------- preloaded ---------------------------- */
.preloaded {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: var(--main-to-dark-color);
  z-index: 2100;
  display: flex;
  justify-content: center;
  align-items: center;
}
.preloaded span {
  display: block;
  height: 60px;
  width: 60px;
  background-color: var(--dark-to-main-color);
  border-radius: 50%;
  animation: ZoomInOut 1s ease infinite;
}
/* --------------------------------------
    NavBar
------------------------------------------ */
header {
  padding: 15px 0;
}
header i {
  font-size: small;
}
header img {
  width: 170px;
}
.navbar-brand {
  font-size: 1.6rem !important;
  font-weight: 500 !important;
}
.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 1.2rem;
  padding-left: 1.2rem;
  text-transform: capitalize;
  font-size: 0.9rem;
  font-weight: 600;
  color: #ffffff;
  transition: all ease-in-out 0.3s;
}
.navbar .nav-link:hover,
.navbar .nav-link.active {
  color: var(--purple) !important;
}
.navbar button:hover {
  background-color: var(--purple);
  color: white;
}
.navbar i {
  color: white !important;
}

.navbar-shrink {
  background-color: white !important;
  box-shadow: var(--shadow-black-100);
}
.navbar-shrink i {
  color: var(--main-color) !important;
}
.navbar-shrink .nav-link {
  color: var(--main-color) !important;
}
.navbar-shrink button {
  background: var(--main-color);
  color: #ffffff;
}
/* --------------------------------------
    Banner
------------------------------------------ */
.banner {
  background-color: var(--main-color);
  padding: 130px 0;
}
.banner .banner-text h1 {
  margin-bottom: 25px;
  font-size: 2.6rem;
  font-weight: 600;
  line-height: 48px;
}
.banner .banner-text p {
  margin-bottom: 25px;
  line-height: 26px;
}
.banner .banner-text input,
.banner .banner-text button {
  padding: 12px 10px;
}
.banner .banner-text button {
  width: 150px;
}
.banner .banner-text input {
  font-size: 0.9rem;
  margin-right: 15px;
  height: inherit;
}
.banner .banner-text form {
  margin-bottom: 30px;
}
.banner .play-vid:hover .play-btn {
  background-color: var(--purple);
  color: #ffffff;
}
.banner .play-vid p {
  font-size: 0.9rem;
  margin-left: 10px;
  color: #ffffff;
}
.banner .play-vid i {
  font-size: small;
}
.play-btn {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  color: var(--purple);
  margin-right: 10px;
  transition: all ease-in-out 0.4s;
}

/* --------------------------------------
    Feature
------------------------------------------ */
.section-title span {
  background-color: var(--purple);
  border-radius: 30px;
  padding: 5px 15px;
  color: white;
  display: block;
  width: fit-content;
  font-size: 0.8rem;
  margin: 0 auto;
  margin-bottom: 20px !important;
  font-weight: 600;
}
.section-title h1 {
  font-size: 2.2rem;
  margin-bottom: 25px;
  line-height: 47px;
  text-transform: capitalize;
  position: relative;
  font-weight: 700;
  color: var(--main-color);
}
.section-title p {
  color: #888;
  line-height: 30px;
}
.feature .feature-card {
  padding: 30px 35px;
  border-radius: 8px;
  background: #ffffff;
  position: relative;
  transition: all ease-in-out 0.5s;
  border: solid 1px rgb(241, 239, 239);
  top: 0;
}
.feature-card:hover {
  box-shadow: var(--shadow-black-100);
  top: -10px;
}
.overview-text .feature-icon,
.feature-card .feature-icon {
  padding: 15px 20px;
  display: block;
  width: fit-content;
  margin: 0px auto;
  margin-bottom: 15px;
  border-radius: 8px;
  background-color: var(--purple);
  color: #ffffff;
}
.feature-card h3 {
  font-size: 1.3rem;
  color: var(--main-color);
  font-weight: 600;
  margin: 25px 0;
}
.feature-card p {
  font-size: 0.9rem;
  color: #888;
}

/* --------------------------------------
    Overview
------------------------------------------ */
.overview-text .feature-icon {
  margin: 20px 0;
}
.overview-text h1 {
  font-size: 2.2rem;
  font-weight: 600;
  color: var(--main-color);
  line-height: 43px;
  margin: 25px 0;
}
.overview-text p {
  font-size: 0.94rem;
  color: #888;
  line-height: 25px;
  margin-bottom: 20px;
}
.overview-text button {
  background: var(--purple);
  color: #ffffff;
  padding: 12px 25px;
  transition: all ease-in-out 0.3s;
}
.overview-text button:hover {
  background-color: var(--main-color);
  color: white;
}
.first-overview {
  padding-bottom: 100px;
  margin-bottom: 100px;
}
.second-overview,
.first-overview {
  justify-content: space-evenly;
}
/* --------------------------------------
    statistics
------------------------------------------ */
.statistic.section-padding {
  padding: 90px 0;
}
.statistic-card .statistic-icon {
  padding: 17px 25px;
  background: #ffffff;
  color: var(--purple);
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 20px;
  border-radius: 10px;
  position: relative;
  transition: all ease-in-out 0.3s;
  top: 0;
}
.statistic-card:hover .statistic-icon {
  top: -10px;
  box-shadow: var(--shadow-black-100);
}
.statistic-card h1 {
  font-size: 2.2rem;
  font-weight: 700;
}
.statistic-card p {
  font-weight: 600;
}

/*---------------------------------------------
Pricing
----------------------------------------------*/
.pricing-card {
  background-color: #ffffff;
  border-radius: 8px;
  border: solid 1px rgb(245, 242, 242);
  top: 0;
  position: relative;
  transition: all ease-in-out 0.3s;
}
.pricing-card:hover {
  top: -10px;
  box-shadow: var(--shadow-black-100);
}
.pricing-card-bottom,
.pricing-card-top {
  padding: 40px;
  padding-bottom: 30px;
}
.pricing-card-top h4 {
  font-size: 0.9rem;
  color: var(--main-color);
}
.pricing-card-top p {
  margin: 20px 0;
  padding: 0;
  font-size: 0.9rem;
  color: #888;
}
.pricing-card-top .price {
  font-weight: 800;
  font-size: 2.15rem;
  color: var(--main-color);
  display: inline-block;
}
.pricing-card-top .price span {
  display: inline-block;
  font-size: 0.9rem;
  color: #888;
  font-weight: 400;
  margin-left: 3px;
}
.pricing-card ul li {
  padding-bottom: 15px;
  font-size: 0.87rem;
  color: #888;
}
.pricing-card ul li span {
  margin-right: 10px;
  color: var(--purple);
}

.pricing-card button {
  background-color: var(--main-color);
  color: #ffffff;
  padding: 12px 25px;
  transition: all ease-in-out 0.3s;
  width: 100%;
  display: block;
  margin-top: 40px;
}
.pricing-card button:hover {
  background: var(--purple);
  color: white;
}

/*---------------------------------------------
Teams
----------------------------------------------*/
.teams-carousel .owl-stage-outer {
  padding: 25px 0;
}
.team-item {
  background-color: #ffffff;
  border-radius: 9px;
  border: solid 1px rgb(245, 242, 242);
  margin: 0 15px;
  top: 0;
  transition: all ease-in-out 0.3s;
}
.team-item .img-box {
  overflow: hidden;
}
.team .link,
.team-item img {
  border-radius: 9px 9px 0 0;
}
.team .link {
  background: #5026f4c7;
  opacity: 0;
  top: 10px;
  left: 0;
  transition: all ease 0.3s;
}
.team .link div {
  margin: 0 auto;
  margin-bottom: 15px;
  display: flex;
}
.team .link div span {
  height: 35px;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 5px;
  transition: all ease 0.3s;
  cursor: pointer;
}
.team-item i {
  font-size: 0.9rem;
}
.team .link div span:hover {
  color: var(--purple);
}
.team .link div span:not(:first-of-type) {
  margin: 0 0 0 10px;
}
.team-item:hover .link {
  top: 0;
  left: 0;
  opacity: 1;
}
.team-item:hover {
  top: -6px;
  box-shadow: var(--shadow-black-100);
}
.team-item .info {
  padding-top: 10px;
}
.team-item .info a {
  color: #000000;
  transition: all ease-in-out 0.3s;
}
.team-item .info a:hover {
  color: var(--purple);
}
.team-item .info p {
  font-size: 0.76rem;
  color: #888;
}

/*---------------------------------------------
Testimonials
----------------------------------------------*/
.testimonial-item {
  background-color: white;
  border-radius: 9px;
  margin: 0 15px;
  padding: 25px;
  transition: all ease-in-out 0.4s;
}

.testimonial-item img {
  border-radius: 50%;
  max-width: 70px !important;
  height: 70px !important;
  width: 70px !important;
}
.testimonial-item .user-info div:last-of-type {
  /* justify-content: space-evenly; */
  margin-left: 15px;
}
.testimonial-item .user-info div h3 {
  color: var(--main-color);
  font-size: 1.1rem;
  transition: all ease-in-out 0.4s;
  margin-bottom: 3px;
}
.testimonial-item .user-info div h3 span {
  display: block;
  font-size: 0.8rem;
  color: #888;
  font-weight: 400;
  transition: all ease-in-out 0.4s;
}
.testimonial-item .user-info i {
  color: #f8e71c;
  font-size: 0.9rem;
}
.testimonial-item p {
  font-size: 0.9rem;
  margin-top: 10px;
  padding: 10px;
  color: #888;
  transition: all ease-in-out 0.4s;
}
.testimonial-item:hover p,
.testimonial-item:hover .user-info div h3,
.testimonial-item:hover .user-info div h3 span,
.testimonial-item:hover {
  color: white !important;
}
.testimonial-item:hover {
  background-color: var(--purple);
}
/* ---------------------------------
Newsletter
------------------------------------ */
.newsletter-form {
  background-color: #ffffff;
  padding: 50px;
  border-radius: 9px;
}
.newsletter-form h4 {
  font-size: 1rem;
  color: var(--purple);
}
.newsletter-form h2 {
  font-size: 2.1rem;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 40px;
}
.newsletter-form input {
  padding: 18px 25px !important;
  height: inherit;
  font-size: 0.9rem;
}
.newsletter-form button {
  background-color: var(--purple);
  color: #ffffff;
  padding: 10px 25px;
  transition: all ease-in-out 0.3s;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
}
.newsletter-form button:hover {
  background: var(--main-color);
  color: white;
}
/* ---------------------------------
Trial
------------------------------------ */
.trial .row {
  justify-content: space-between;
}
.trial {
  padding: 80px 0;
  background-color: #f0f3fa;
}
.trial h1 {
  color: var(--main-color);
}
.trial h1 span {
  display: block;
  color: var(--purple);
}
.trial button {
  background-color: var(--main-color);
  color: #ffffff;
  padding: 12px 25px;
  transition: all ease-in-out 0.3s;
  width: 49%;
  display: block;
}
.trial button:hover {
  background: var(--purple);
  color: white;
}
.trial button:first-of-type {
  background: var(--purple);
  color: white;
}
.trial button:first-of-type:hover {
  background-color: var(--main-color);
  color: #ffffff;
}

/* ---------------------------------
footer
------------------------------------ */
footer {
  padding: 80px 0;
}
.footer-top {
  padding-bottom: 30px !important;
  margin-bottom: 30px !important;
}
.footer-top ul {
  display: flex;
  justify-content: end;
}
.footer-top ul li a {
  padding: 15px;
  color: var(--main-color);
  transition: all ease 0.4s;
  font-weight: 600;
  font-size: 0.95rem;
}
.footer-top ul li a:hover {
  color: var(--purple);
}
.footer-top ul li:last-of-type a {
  padding-right: 0;
}
footer i {
  margin: 0 20px;
  font-size: 0.95rem;
  color: var(--main-color);
}
footer i:last-of-type {
  margin-right: 0;
}

/* ------------------------------
Responsive
--------------------------------- */
@media (max-width: 984px) {
  .navbar-collapse {
    background-color: white;
    padding: 10px 20px;
    border-radius: 0 0 9px 9px;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    color: var(--main-color);
  }
  .navbar .nav-link:hover,
  .navbar .active .nav-link {
    color: var(--purple) !important;
  }
  .navbar button {
    background-color: var(--purple);
    color: white;
  }
  .banner-text {
    text-align: center;
  }
  .banner .row {
    justify-content: center;
  }
  .banner .row .col-lg-5 h1 {
    font-size: 2.4rem !important;
  }
  .banner .row .col-lg-7 {
    display: none !important;
  }
  .play-vid {
    justify-content: center !important;
  }
}
@media (max-width: 969px) {
  .section-title h1 {
    font-size: 1.6rem;
    margin-bottom: 5px;
  }
  .section-title p {
    font-size: 0.9rem;
  }
  .feature-row {
    flex-wrap: wrap;
  }
  .feature-row .feature-card {
    margin-top: 20px;
  }
  .overview-text {
    margin-bottom: 40px;
  }
  .overview-text h1 {
    font-size: 1.6rem;
    margin: 10px 0;
  }
  .pricing-card {
    margin-top: 20px;
  }
  .newsletter-form {
    margin-bottom: 40px;
    text-align: center;
  }
  .newsletter-form form {
    width: 75%;
    margin: 10px auto;
  }
  .newsletter-form h2 {
    font-size: 1.6rem;
    display: block;
    margin: auto;
    margin-bottom: 35px;
    margin-top: 15px;
    color: var(--main-color);
    width: 50%;
  }
  .trial .row {
    justify-content: center;
    text-align: center;
  }
  .trial h1 {
    font-size: 2.1rem;
    margin-bottom: 40px;
    font-weight: 600;
  }
  .trial button {
    width: 180px;
    margin: 0 10px;
  }
  .trial .col-lg-4 {
    justify-content: center !important;
  }
}

@media (max-width: 770px) {
  .statistic-card h1 {
    font-size: 2rem;
  }
}
@media (max-width: 430px) {
  .banner-text {
    width: 300px;
    margin: 0 auto;
  }
  .banner .row .col-lg-5 h1 {
    font-size: 1.5rem !important;
    margin-bottom: 10px;
    line-height: 40px;
  }
  .banner-text p {
    font-size: small;
  }
  .banner-text form .d-flex {
    display: block !important;
  }
  .banner-text form button {
    width: 100% !important;
    margin-top: 10px;
    display: block !important;
  }

  .first-overview {
    padding-bottom: 50px;
    margin-bottom: 50px;
  }

  .statistic.section-padding {
    padding: 80px 0 !important;
  }
  .newsletter-form h2 {
    font-size: 1.4rem;
    margin-bottom: 22px;
    width: 100%;
  }
  .newsletter .content h3 {
    font-size: 20px;
    line-height: 30px;
  }
  .newsletter-form {
    padding: 35px;
  }

  .newsletter-form form {
    justify-content: center !important;
    align-items: center !important;
    flex-wrap: wrap;
    width: 100%;
  }
  .newsletter-form form button {
    position: relative !important;
    top: inherit;
    left: inherit;
    right: inherit;
    transform: inherit;
    margin-top: 10px;
    width: 100%;
  }

  .trial h1 {
    font-size: 1.6rem;
  }

  footer {
    text-align: center !important;
    padding: 60px 0;
  }
  footer img {
    width: 50%;
  }
  .footer-top ul {
    justify-content: center;
    margin-top: 30px;
  }
  footer .text-right {
    text-align: center !important;
    margin-top: 20px;
  }
}

@media (max-width: 377px) {
  .overview img {
    width: 75%;
    margin: 0 auto;
    display: block;
  }
  .section-title h1 {
    font-size: 1.3rem;
    line-height: 30px;
  }
}
@media (max-width: 320px) {
  .navbar {
    padding: 0;
  }
  header img {
    width: 135px;
  }
  .section-padding {
    padding: 40px 0 !important;
  }
  .banner.section-padding {
    padding: 100px 0 !important;
  }
  .banner-text {
    width: 260px;
  }
  .overview-text h1 {
    font-size: 1.2rem;
    line-height: 23px;
  }
  .trial .col-lg-4 {
    flex-wrap: wrap;
  }
  .trial h1 {
    font-size: 1.4rem;
  }
  .trial button {
    display: block;
    width: 100%;
    margin: 5px 0;
  }
  .footer-top ul li a {
    font-size: small;
  }
}
