/*---------------
Font
-----------------*/
@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap);

/*---------------
Global
-----------------*/
:root {
  --main: #09d69c;
  --bg-dark: #2b2c2f;
  --shadow-black-100: 0 5px 15px rgba(0, 0, 0, 0.1);
  --shadow-black-300: 0 5px 15px rgba(0, 0, 0, 0.3);
  --black-900: #000000;
  --black-400: #555555;
  --black-100: #f7f7f7;
  --black-000: #ffffff;
  --black-alpha-100: rgba(0, 0, 0, 0.05);
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  overflow-x: hidden;
  background-color: var(--black-900);
  line-height: 1.5;
  user-select: none;
}
* {
  margin: 0;
  padding: 0;
  outline: none;
}
img {
  max-width: 100%;
  vertical-align: middle;
}
ul {
  list-style: none;
}
section{
  min-height: 100vh;
}
a,
a:hover {
  text-decoration: none;
  color: var(--main);
}
.bg-transparent {
  background: transparent;
}
.bg-white {
  background: white;
}
.bg-grey {
  background: #f0f3fa;
}
.section-padding {
  padding: 30px 0 !important;
}
.bg-main-blue {
  background-color: var(--main);
}
@keyframes ZoomInOut {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
/* ----------------------------section text ------------------------------ */
.section-text h1{
  font-weight: 600;
  text-transform: capitalize;
  line-height: 42px;
  margin-bottom: 2rem;
  font-size: 2rem;
}
.section-text p{
  margin-bottom: 1.6rem;
  font-size: .85rem;
}
.btn{
  display: block;
  background-color: var(--main);
  text-transform: uppercase;
  width: max-content;
  margin: .5rem auto;
  padding: .5rem 1.2rem;
  font-size: .85rem;
  font-weight: 600;
  box-shadow: 0px 6px 14px 1px rgb(19 235 188 / 30%);
}
.btn i{
  margin-left: .6rem;
}
.btn-white{
  color: var(--black-900) !important;
  background-color: white !important;
  box-shadow: 0px 6px 14px 1px rgba(255, 255, 255, 0.3) !important;
}

@media screen and (min-width: 768px){
  .section-text h1{
    line-height: 52px;
    margin-bottom: 2.2rem;
    font-size: 2.5rem;
  }
  .section-text p{
    margin-bottom: 1.3rem;
    font-size: 1rem;
  }
  .section-text a{
    font-size: .9rem;
  }
}
/* ----------------------------scrool icon ------------------------------ */
.scrool-to {
  height: 50px;
  width: 50px;
  bottom: 20px;
  right: 20px;
  position: fixed;
  display: none;
  background-color: var(--main);
  color: white;
  border-radius: 7px;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 600;
  z-index: 2000;
  box-shadow: var(--shadow-black-100);
}
/* ------------------------------- preloaded ---------------------------- */
.preloaded {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: var(--main);
  z-index: 2100;
  display: flex;
  justify-content: center;
  align-items: center;
}
.preloaded span {
  display: block;
  height: 60px;
  width: 60px;
  background-color: var(--main);
  border-radius: 50%;
  animation: ZoomInOut 1s ease infinite;
}
/* --------------------------------------
    NavBar
------------------------------------------ */
header {
  padding: 5px 0;
}
header i {
  font-size: small;
}
.navbar-dark .navbar-toggler{
  border-color: transparent;
}
.navbar-shrink{
  background-color: black;
}


.navbar-brand {
  font-size: 1.5rem !important;
  font-weight: 800 !important;
  color: var(--main) !important;
  text-transform: uppercase;
}
.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 1.2rem;
  padding-left: 1.2rem;
  text-transform: capitalize;
  font-size: 0.9rem;
  font-weight: 600;
  color: var(--black-100);
  transition: all ease-in-out 0.3s;
}
.navbar .nav-link:hover,
.navbar .nav-link.active {
  color: var(--main) !important;
}
.navbar i {
  color: white !important;
}
/* --------------------------------------
    Home
------------------------------------------ */
/* --------------------------------------
    Feature
------------------------------------------ */
.feature{
  padding-bottom: 120px !important;
}
.feature .section-text {
  margin-bottom: 4rem;
}
.fearture-card-item{
  padding: .4rem 0;
}
.fearture-card-item span{
  height: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  margin: 1rem auto;
}
.fearture-card-item-1 span{ 
  background-color: rgba(19, 235, 188, 0.116);
  color: var(--main);
}
.fearture-card-item-2 span{ 
  background-color: rgba(4, 253, 137, 0.116);
  color: rgba(4, 253, 137, 0.904);
}
.fearture-card-item-3 span{ 
  background-color: rgba(233, 16, 117, 0.116);
  color: rgba(233, 16, 117, 0.829);
}
.fearture-card-item-4 span{ 
  background-color: rgba(19, 203, 235, 0.116);
  color: rgba(19, 203, 235, 0.904);
}
.fearture-card-item span i { font-size: 1.1rem; }
.fearture-card-item h5 { 
  font-size: 1rem;
  margin-top: .5rem;
  margin-bottom: 1.1rem;
}
.fearture-card-item p { font-size: .8rem;}

.feature-img{
  border-radius: 5px;
  overflow: hidden;
}
.feature-text-2 {
  margin-top: 2.5rem;
}

@media screen and (min-width: 992px){
  .feature-text-2 .section-text{
   margin-bottom: 0;
  }
  .feature-text-2 .section-text p{
    margin-bottom: 2.5rem;
  }
  .feature-text-2 {
    margin-top: 4.5rem;
  }
  .feature-text-2 .text-center{
    text-align: left !important;
  }
  .feature-text-2 .btn{
    margin: inherit;
  }
}
/* --------------------------------------
    Pricing
------------------------------------------ */
.pricing{
  background-color: #11171a;
  padding: 120px 0 !important;
  position: relative;
}
.pricing::before{
  content: '';
  position: absolute;
  background-color: red;
  top: -20px;
  left: 0;
  height: 45px;
  width: 101%;
  transform: rotate(355deg);
}
.pricing .section-text h1{
  margin-bottom: 1.2rem;
  font-weight: 700;
}
.pricing-card{
  border-radius: 5px;
  padding: 3.5rem 0rem;
  padding-bottom: 1.5rem;
  background-color: #263238;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
.pricing-card h6{ 
  font-weight: 600;
  margin-bottom: 2rem;
}
.pricing-card h1{ 
  color: var(--main);
  font-size: 2.2rem;
  font-weight: 700;
}
.pricing-card small{
  color: #78909c;
  display: block;
  margin-bottom: 1.1rem;
  font-weight: 700;
}
.pricing-card p{
  margin-bottom: .9rem;
  font-weight: 600;
  color: #cfd8dc;
}
.pricing-card .support{
  margin-bottom: 2.6rem;
}
.pricing-card-2 h1{
  color: rgba(19, 203, 235, 0.904);
}
.pricing-card-2 .btn{
  background-color: rgba(19, 203, 235, 0.904);
}

.pricing-text-3 h4{
  font-weight: 600;
  font-size: 1.4rem;
  margin-bottom: 1.2rem;
}
.pricing-text-3 p{
  margin-bottom: .9rem;
  color: #cfd8dc;
}
.pricing-text-3 ul{
  column-count: 2;
  font-size: .9rem;
  margin-top: 1rem;
}
.pricing-text-3 ul li{
  display: flex;
  align-items: center;
  justify-content: start;
  margin-bottom: .3rem;
}
.pricing-text-3 ul li span{
  display: block;
  height: 10px;
  aspect-ratio: 1;
  border: solid 2px var(--main);
  border-radius: 50%;
  margin-right: .4rem;

}
@media screen and (max-width: 400px){
  .pricing-info{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .pricing-text-3 ul{
    column-count: 1;
  }
}
@media screen and (min-width: 768px){
  .pricing-text-3{
   text-align: left;
  }
}
.pricing-text-4 h2{
  font-weight: 600;
  font-size: 1.4rem;
  margin-bottom: 1.1rem;
}
.pricing-text-4 p{
  margin-bottom: .9rem;
  color: #cfd8dc;
}

/* --------------------------------------
    FAQ
------------------------------------------ */
.faq{
  padding: 120px 0 !important;
}
.faq .section-text h1{
  margin-bottom: 1rem;
}
.faq .faq-text-2 p,
.faq .section-text p{
  margin-bottom: .9rem;
  color: #cfd8dc;
  font-size: .9rem;
}
.faq .faq-text-2 h5{
  font-weight: 600;
}
/* --------------------------------------
    BLOG
------------------------------------------ */
.blog{
  background-color: #11171a;
  padding: 120px 0 !important;
  position: relative;
}
.blog-post{
  border-radius: 5px;
  overflow: hidden;
  background-color: #263238;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
.blog-post .blog-img{ }
.blog-post .blog-img img{ 
  width: 100%;
  object-fit: cover;
}
.blog-post .blog-content{
  padding: 1rem;
 }
.blog-post .blog-content h4{ 
  font-size: 1.1rem;
  margin-bottom: 1.1rem;
  font-weight: 600;
}
.blog-post .blog-content span{
  color: #78909c;
  display: block;
  font-size: .85rem;
  margin-bottom: .3rem;
  font-weight: 600;
}
.blog-post .blog-content p{
  font-weight: 500;
  color: #cfd8dc;
  font-size: .9rem;
  margin-bottom: 0;
}
/* --------------------------------------
    FOOTER
------------------------------------------ */
footer{
  min-height: 100vh;
  padding: 120px 0;
  padding-bottom: 30px;
}
footer h5{
  color: white;
  text-transform: uppercase;
  margin-bottom: 1.2rem;
  font-weight: 600;
}
footer p{
  font-weight: 600;
  font-size: .9rem;
}
footer li{
  margin-bottom: .9rem;
  font-weight: 600;
  font-size: .9rem;
  text-transform: capitalize;
}
footer li a{
  color: #a5afb3;
  transition: all ease-in-out .3s;
}
footer li a:hover{
  color: var(--main);
}
footer i{
  color: #cfd8dc;
}
footer p,
footer i.fa-copyright{
  color: #56636b;
}